.walks {
  margin-top: 1em;
  margin-bottom: 1em;
  justify-content: center;
}

.walkBody {
  min-height: 96px;
  background-image: url(https://i.pinimg.com/originals/a7/48/1f/a7481f981baae6882b21a06ab9a837a3.jpg);
  background-position: center;
}
  
.edit-walk {
    float: left;
    max-height: 35px;
    max-width: 53px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
  
.delete-walk{
    float: right;
    max-height: 35px;
    max-width: 35px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card-text {
  font-weight: bold;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.walkCard {
  width: 300px;
  min-width: 125px;
  display: inline-flex;
}